@font-face {
  font-family: "SF Pro Text";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "SF Pro Text";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: white;
  overflow-x: hidden;
  background: #ffffff
}

/*HEADER*/
header {
  font-family: "SF Pro Text";
  width: 100%;
  height: 52px;
  /*  border-bottom: 0.5px solid black; */
  margin-right: 20px;
  margin-left: 20px;
}

.navBar__container {
  display: flex;
  justify-content: space-around;
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

header h2 {
  margin-top: 13px;
}

header a {
  text-decoration: none;
  margin-top: 16px;
  color: black;
}

.ongletNav:hover {
  color: #c2c3c7;
  transition: all 0.2s;
}

header .buttonBuy {
  font-weight: normal;
  padding: 6px 40px 0px 40px;
  margin-top: 10px;
  height: 27px;
  color: #FFF;
  background: linear-gradient(#42a1ec, #0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

header .buttonBuy:hover {
  background: linear-gradient(#51a9ee, #147bcd)
}

.current {
  border-bottom: 15px solid black;
}

/*MAIN*/
.imgtext {
  position: absolute;
  display: flex;
  flex-direction:
}

h1.imgtext {
    font-family: "SF Pro Text";
  font-size: 50px;
  color: white;
  left: 700px;
  top: 250px;
}

h2.imgtext {
    font-family: "SF Pro Text";
  font-size: 20px;
  color: white;
  font-weight: lighter;
  left: 700px;
  top: 320px;
  right: 50px;
}

img.background {
  width: 100%;
  height: auto;
  margin-top: 1px;
  position: relative;
}

/*Slider*/
.Slider {
  position: relative;
  color: black;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.slidertitle {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
}

li {
  list-style: none;
}

li p {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
}

.trait {
  height: 1pt;
  width: 80%;
  position: absolute;
  left: 120px;
  top: 2700px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: black;
}

/* son */
.son .applemusic {
  position: absolute;
  top: 2680px;
  right: 150px;
}

.son h4 {
    font-family: "SF Pro Text";
  position: absolute;
  top: 2680px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
  color: black;
  left: 114px;
}

.gif {
  position: absolute;
  width: 100%;
  height: 360px;
  top: 2780px;
}



/*environnement*/

.trait2 {
  height: 1pt;
  width: 80%;
  position: absolute;
  left: 120px;
  top: 3165px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: black;
}

.environnement h5{
    font-family: "SF Pro Text";
  position: absolute;
  top: 3140px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
  color: #0A4E09;
  left: 170px;
}
.boldenvironement{
  font-family: "SF Pro Text";
position: absolute;
top: 3180px;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 28px;
color: black;
left: 114px;
}

.textlighter{
  font-family: "SF Pro Text";
position: absolute;
top: 3260px;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
color: black;
left: 111px;
}
.boldenvironement2{
  font-family: "SF Pro Text";
position: absolute;
top: 3320px;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 28px;
color: black;
left: 114px;
}
.textlighter2{
font-family: "SF Pro Text";
position: absolute;
top: 3435px;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
color: black;
left: 75px;
}
.boldenvironement3{
  font-family: "SF Pro Text";
position: absolute;
top: 3520px;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 28px;
color: black;
left: 114px;
}
.textlighter3{
  font-family: "SF Pro Text";
  position: absolute;
  top: 3600px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: black;
  left: 111px;
}

/* FOOTER */

.barreHorizontale{
  border: 1px solid rgba(0, 0, 0, 0.6);
  width : 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top : 30px;
}

.footer{
  height: 140px;
  display: flex;
  align-content:center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  position: absolute;
  top: 3800px;

}

.footer ul{
  list-style: none;
  width: 20%;
  list-style: none;
}

.footer ul li{
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer ul li a{
  color : black;
  text-decoration: none;
}

.footer ul li a:hover{
  color : #c2c3c7;
  transition : all 0.2s;
}

ul.footerList1, ul.footerList2 {
  padding-left: 64px;
  padding-right: 20px;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerLogo img {
  width: 50px;
  height: auto;
}

/*2ème FOOTER */

.footer2{
  display: flex;
  width: 928px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: space-between;
  margin-bottom: 10px;
}
.footer2 a{
  font-size: 12px;
  text-decoration: none;
  color : black;
  margin-right: 7px;
  padding-right: 10px;
  margin-top: 7px;
  border-right : 1px solid black;
  margin-bottom: 10px;
}

.footer2 a:last-child{
  border-right : none;
}

.barreHorizontale2{
  border: 1px solid rgba(0, 0, 0, 0.6);
  width : 900px;
  margin : 60px auto 20px auto;
}
