/*MAIN*/

.imgtext{
  position: absolute ;
  display: flex;
  flex-direction:
}

h1.imgtext{
  font-size: 50px;
  color : white;
  left : 700px;
  top : 250px;
}

h2.imgtext{
  font-size : 20px;
  color : white;
  font-weight: lighter;
  left : 700px;
  top : 320px;
  right : 50px;
}

img.background{
  width: 100%;
  height: auto;
  margin-top: 1px;
  position: relative;
}

/*Slider*/
.slider{
  position: relative;
  color: black;
}
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-9,
.item-10,
.item-11{
	position: absolute;
  display: block;
	top: 2em;
  left: -100%;

  width: 60%;

  font-size: 2em;

	animation-duration: 19.5s;
	animation-timing-function: ease-in-out;
}

.item-1{
	animation-name: anim;
  animation-delay: 0s;
}

.item-2{
	animation-name: anim;
  animation-delay: 4.5s ;
}

.item-3{
	animation-name: anim;
  animation-delay: 9s;
}
.item-4{
	animation-name: anim;
  animation-delay: 13.5s;
}

.item-5{
	animation-name: anim;
  animation-delay: 18s;

}
.item-6{
	animation-name: anim;
  animation-delay: 22.5s;
}
.item-7{
	animation-name: anim;
  animation-delay: 27s;
}

.item-8{
	animation-name: anim;
  animation-delay: 31.5s;
}

.item-9{
	animation-name: anim;
  animation-delay: 36s;
}
.item-10{
	animation-name: anim;
  animation-delay: 40.5s;
}

.item-11{
  	animation-name: anim;
  animation-delay: 45s;
}

@keyframes anim{
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}