 /*HomeKit animation text*/

.homeKit__animation__container{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.homeKit__animation__container span{
    display: block;
    text-transform: uppercase;
    color: black;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 8px;
    word-spacing: 10px;
    animation: text 3.5s 1;
}

@keyframes text{
    0%{
        color: white;
        letter-spacing: 25px;
     }
    85%{
        letter-spacing: 8px;
    }
}

  /* PICTURES */

#house {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 4%;
}
#house img, #house .black {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0;
    transition: opacity .6s;
}
#house .showed {
    opacity: 1;
}
.black{
    background-color: rgba(0,0,0,0.6);
}

  /* BUTTONS */

.buttons{
    display:flex;
    align-content: space-around;
    margin-top: 650px;
    margin-left: 590px;
    position: absolute;
}

.buttonLight, .buttonTV, .buttonWindow{
    border-radius: 50px;
    width: 90px;
    background-color: #333333;
    border:2px solid #616161;
    padding : 12px 7px;
    cursor: pointer;
    color: #d1d1d1;
    margin: 20px;
}

.buttonLight:hover, .buttonTV:hover, .buttonWindow:hover{
    background-color: #4b4b4b;
}

.button:active {
    background-color: #4b4b4b;
    transform: translateY(4px);
}

  /*SLIDER*/

.homeKit__slider__title__container{
    text-align: center;
    width: 100%;
    margin-bottom: 3.5%;
}
.homeKit__slider__title__container span{
    display: block;
    text-transform: uppercase;
    color: black;
    font-size: 40px;
    letter-spacing: 5px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#homeKit__main__slider {
    height: 35vw;
    position: relative;
    perspective: 1750px;
    transform-style: preserve-3d;
}

#homeKit__main__slider label {
    margin: auto;
    width: 45%;
    height: 69%;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#homeKit__main__slider img{
    width: 100%;
    height: 100%;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    transform: translate3d(30%,0,-200px);
}

#slide1 {
    background: #333333
}
#slide2 {
    background: #424242
}
#slide3 {
    background: #545454
}
#slide4 {
    background: #6d6d6d
}
#slide5 {
    background: #8c8c8c
}
