@font-face
{
	font-family: "SF Pro Text";
	font-weight: normal;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face
{
	font-family: "SF Pro Text";
	font-weight: bold;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body
{
	font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
}

/*HEADER*/
#menuToggle
{
	display: none;
}

header
{
	font-family: "SF Pro Text";
	width: 100%;
	height: 52px;
	/*  border-bottom: 0.5px solid black;
	*/
	margin-right: 20px;
	margin-left: 20px;
}

.homepodTitle
{
	display: none;
}

.navBar__container
{
	display : flex;
	justify-content: space-around;
	width : 100%;
	margin-left: auto;
	margin-right: auto;
}

header h2
{
	margin-top: 5px;
	font-size: 35px;
}

header a
{
	text-decoration: none;
	margin-top: 16px;
	color: black;
}

.ongletNav:hover
{
	color: #c2c3c7;
	transition : all 0.2s;
	border-bottom: 2px solid black;
}

header .buttonBuy
{
	font-weight: normal;
	padding: 6px 40px 0px 40px;
	margin-top: 10px;
	height: 27px;
	color: #FFF;
	background: linear-gradient(#42a1ec, #0070c9);
	border-color: #07c;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}

header .buttonBuy:hover
{
background : linear-gradient(#51a9ee,#147bcd)}

.current
{
	border-bottom: 2px solid black;
}

/*MAIN*/
main
{
	margin-top: 25px;
}

.imgText
{
	position : absolute;
	left : 50%;
	top : 100px;
	width: 40%;
	animation: indexAnimate 1.5s;
}

.imgText h1
{
	font-size: 3vw;
	color : white;
}

.imgText h2
{
	font-size: 2vw;
	color : white;
	font-weight: lighter;
}

img.background
{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.dimensionEnceinte
{
	width : 90%;
	margin: 50px auto;
}

.texteImageDimension
{
	display : flex;
	position : relative;
}

.presentationTexte h2
{
	font-size : 3vw;
	font-weight: bold;
	width: 400px;
}

.presentationTexte h3
{
	font-size : 2vw;
	font-weight: lighter;
}

.presentationTexte a
{
	color : #0070c9;
	font-weight: lighter;
	text-decoration: none;
}

.presentationTexte a:hover
{
	color : #51a9ee;
}

.presentationTexte
{
	width: 50%;
}

.homePod_deux
{
    width: 100%;
}
.descriEnceintes {
    text-align: center;
    width: 50%;
}
.descriEnceintes span {
    margin: 0 25px;
}

/*Caroussel*/
.caroussel
{
	width: 90vw;
    height: 600px;
    margin: 0 auto;
	position : relative;
}
.imgInterieur .visible
{
    opacity: 1;
}

.imgInterieur img
{
	position : absolute;
	transition-duration: 1s;
	opacity : 0;
	width : 430px;
	height: 600px;
}

.carousselTextCard
{
	opacity : 1;
	position: absolute;
	left : 500px;
    margin-right: 300px;
    max-width: 90vw;
}
@media screen and (max-width: 1200px) {
    .carousselTextCard {
        left: 0;
    }
}

.nonVisible
{
	opacity : 0;
	position: absolute;
	left : 500px;
	margin-right: 300px;
}

.carousselText div h2
{
	font-size : 56px;
	font-weight: lighter;
	width: 600px;
}

.carousselText div p
{
	color : black;
	font-size : 24px;
}

.carousselBtn
{
	position : absolute;
    top : 270px;
    right: 1vw;
	width:0px;
	height:0px;
	border-top: 20px solid transparent;
	border-left: 30px solid #000;
	border-bottom: 20px solid transparent;
}

.carousselBtn:hover
{
	border-top: 25px solid transparent;
	border-left: 40px solid #c2c3c7;
	;
	border-bottom: 25px solid transparent;
	top : 265px;
	transition : all 0.5s;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos img:first-child {
    height: 100px;
}
.logos img {
    height: 50px;
    margin: 0 25px;
}

/* FOOTER */
.barreHorizontale
{
	border: 1px solid rgba(0, 0, 0, 0.6);
	width : 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top : 30px;
}

.footer
{
	height: 140px;
	display: flex;
	align-content:center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 66%;
}

.footer ul
{
	list-style: none;
	width: 20%;
	list-style: none;
}

.footer ul li
{
	margin-top: 20px;
	margin-bottom: 40px;
}

.footer ul li a
{
	color : black;
	text-decoration: none;
}

.footer ul li a:hover
{
	color : #c2c3c7;
	transition : all 0.2s;
}

ul.footerList1, ul.footerList2
{
	padding-left: 64px;
	padding-right: 20px;
}

.footerLogo
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footerLogo img
{
	width: 50px;
	height: auto;
}

/*2ème FOOTER */
.footer2
{
	display: flex;
	width: 928px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	justify-content: space-between;
	margin-bottom: 10px;
}

.footer2 a
{
	font-size: 12px;
	text-decoration: none;
	color : black;
	margin-right: 7px;
	padding-right: 10px;
	margin-top: 7px;
	border-right : 1px solid black;
	margin-bottom: 10px;
}

.footer2 a:last-child
{
	border-right : none;
}

.barreHorizontale2
{
	border: 1px solid rgba(0, 0, 0, 0.6);
	width : 900px;
	margin : 60px auto 20px auto;
}

/*ANIMATIONS*/
@keyframes indexAnimate
{
	0%
	{
		transform: translateY(-80px);
	}

	100%
	{
		transform: translateY(0px);
	}
}

/* MEDIA QUERIES */
@media screen and (min-width: 0px ) and (max-width : 800px)
{
	/*HAMBURGER*/
	.homepodTitle
	{
		display: block;
		position: absolute;
		width : 100%;
		text-align: center;
	}

	.homepodTitle h2
	{
		font-size : 35px;
		margin-top : 8px;
	}

	#menuToggle
	{
		display: block;
		position: relative;
		top: 10px;
		right : 270px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
	}

	nav h2, nav .ongletNav, nav .buttonBuy
	{
		display: none;
	}

	#menuToggle input
	{
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		/* hide this */
		z-index: 2;
		/* and place it over the hamburger */
		-webkit-touch-callout: none;
	}

	#menuToggle span
	{
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
		transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
		transform-origin: 0% 100%;
	}

	#menuToggle input:checked ~ span
	{
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}

	#menuToggle input:checked ~ span:nth-last-child(3)
	{
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menuToggle input:checked ~ span:nth-last-child(2)
	{
		transform: rotate(-45deg) translate(0, -1px);
	}

	#menu
	{
		opacity: 0.9;
		position: absolute;
		width: 160px;
		margin: -100px 0 0 -50px;
		padding: 30px 50px;
		padding-top: 125px;
		left : -40px;
		background: #ededed;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		/* pour arrêter le scintillement en safari*/
		transform-origin: 0% 0%;
		transform: translate(-100%, 0);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
		padding: 20px 0;
		font-size: 22px;
		font-weight: bold;
	}

	#menuToggle input:checked ~ ul
	{
		transform: none;
	}
}
