@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face{
    font-family: "SF Pro Text";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body{
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/*HEADER*/

header{
    font-family: "SF Pro Text";
    width: 100%;
    height: 52px;
/*  border-bottom: 0.5px solid black; */
    margin-right: 20px;
    margin-left: 20px;
}

.navBar__container{
  display : flex;
  justify-content: space-around;
  width : 1260px;
  margin-left: auto;
  margin-right: auto;
}

header h2 {
  margin-top: 13px;
}

header a{
    text-decoration: none;
    margin-top: 16px;
    color: black;
}

.ongletNav:hover{
  color: #c2c3c7;
  transition : all 0.2s;
}

header .buttonBuy{
    font-weight: normal;
    padding: 6px 40px 0px 40px;
    margin-top: 10px;
    height: 27px;
    color: #FFF;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

header .buttonBuy:hover{
  background : linear-gradient(#51a9ee,#147bcd)
}

.current{
  border-bottom: 15px solid black;
}


/*MAIN*/

.imgText{
  position : absolute;
  left : 800px;
  top : 100px;
}

.imgText h1{
  font-size: 64px;
  color : white;
}

.imgText h2{
  font-size : 20px;
  color : white;
  font-weight: lighter;
}

img.background{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.dimensionEnceinte{
  width : 70%;
/*margin-right: 15%;
  margin-left: 15%; */
  margin: 0 auto;
}

.texteImageDimension{
  display : flex;
  position : relative;
}

.presentationTexte h2{
  font-size : 66px;
  font-weight: lighter;
  width: 400px;
}

.presentationTexte h3{
  font-size : 24px;
  font-weight: lighter;
}

.presentationTexte a{
  color : #0070c9;
  font-weight: lighter;
  text-decoration: none;
}

.presentationTexte a:hover{
  color : #51a9ee;
}

.presentationTexte{
    width: 100%;
    height: 60%;
}



.grisSideral{
  position: absolute;
  left: 80%;
  top : 83%;
}

.blanc{
  position: absolute;
  left: 60%;
  top : 83%;
}

.homePod_deux{
  width: 70%;
  height: 40%;
}

/*Caroussel*/

.caroussel{
  width: 1260px;
  height: 600px;
  margin-left: 200px;
  margin-right: 200px;
  position : relative;
}

.imgInterieur{
  width: 600px;
}

.imgInterieur img{
  position : absolute;
  width : 430px;
  height: 600px;
}

.carousselText1{
  opacity : 1;
  position: absolute;
  left : 500px;
  margin-right: 300px;
}

.nonVisible{
  opacity : 0;
  position: absolute;
  left : 500px;
  margin-right: 300px;
}

.carousselText div h2{
  font-size : 56px;
  font-weight: lighter;
  width: 600px;
  }
.carousselText div p{
  color : black;
  font-size : 20px;
}

.carousselMusicImg{
  position: absolute;
  top : 400px;
  left : 600px;
  width : 150px;
  height: 150px;
}

.carousselSiriImg{
  position: absolute;
  top : 450px;
  left : 800px;
  width : 60px;
  height: 60px;
}


/* FOOTER */

.barreHorizontale{
  border: 1px solid rgba(0, 0, 0, 0.6);
  width : 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top : 100px;
}

.footer{
  width : 1260px;
  height: 140px;
  display: flex;
  align-content:center;
  margin-left: 250px;
}

.footer ul{
  list-style: none;
}

.footer ul li{
  margin : 20px 20px 40px 40px;

}

.footer ul li a{
  color : black;
  text-decoration: none;
}

.footer ul li a:hover{
  color : #c2c3c7;
  transition : all 0.2s;
}

/*2ème FOOTER */

.footer2{
  width: 1000px;
  height: 100px;
  margin-left: 300px;
  margin-right: auto;
  position : relative;
}
.footer2 a{
  font-size: 12px;
  text-decoration: none;
  color : black;
  margin-right: 7px;
  padding-right: 10px;
  margin-top: 30px;
  border-right : 1px solid black;
}

.footer2 a:last-child{
  border-right : none;
}

.footer2 img{
  width : 50px;
  height: 50px;
  position : absolute;
  bottom : 270px;
  right : 550px;
}

.barreHorizontale2{
  border: 1px solid rgba(0, 0, 0, 0.6);
  width : 900px;
  margin : 60px auto 30px auto;
}


/* MEDIA QUERIES */

@media screen and (min-width: 1px ) and (max-width : 1250px){
  .carousselText1{
    position : static;
  }

  .imgInterieur img{
    position : absolute;
    top : 300px;
  }

  .barreHorizontale{
    margin-top : 300px;
  }

  .footer{
    margin-left: 0px;
    padding-top : 20px;
  }

  .footer2 img{
    width : 50px;
    height: 50px;
    bottom : 270px;
    right : 550px;
  }

  .footer2{
    width: 1000px;
    height: 100px;
    margin-left: 30px;
    margin-right: auto;
    position : relative;
  }

  header #header{
    position : relative;
  }

    .imgText{
    position : absolute;
    width: 600px;
    height: 600px;
    bottom : 300%;

  }

}
