@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face{
    font-family: "SF Pro Text";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body{
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

/*HEADER*/

header{
    font-family: "SF Pro Text";
    top: 0 px;
    left: 0px;
    width: 100%;
    height: 52px;
/*  border-bottom: 0.5px solid black; */
    margin-right: 20px;
    margin-left: 20px;
}

.navBar__container{
  display : flex;
  justify-content: space-around;
  width : 1260px;
  margin-left: auto;
  margin-right: auto;
}

header h2 {
  margin-top: 13px;
}

header a{
    text-decoration: none;
    margin-top: 16px;
    color: #313131;
}

header .buttonBuy{
    font-weight: normal;
    padding: 6px 40px 0px 40px;
    margin-top: 10px;
    height: 27px;
    color: #FFF;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}



/*MAIN*/

img.background{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.dimensionEnceinte{
  width : 70%;
/*margin-right: 15%;
  margin-left: 15%; */
  margin: 0 auto;
}

.texteImageDimension{
  display : flex;
  position : relative;
}

.presentationTexte h2{
  font-size : 76px;
  font-weight: lighter;
}

.presentationTexte h3{
  font-size : 24px;
  font-weight: lighter;
}

.presentationTexte a{
  color : #0070c9;
  font-weight: lighter;
  text-decoration: none;
}

.presentationTexte{
    width: 100%;
    height: 60%;
}

.grisSideral{
  position: absolute;
  left: 70%;
  top : 80%;
}

.blanc{
  position: absolute;
  left: 50%;
  top : 80%;
}

.homePod_deux{
  width: 80%;
  height: 50%;
}

/*Caroussel*/

.caroussel{
  width: 1260px;
  height: 600px;
  margin-left: 200px;
  margin-right: 200px;
  display : flex;
}

.imgInterieur{
  justify-content: flex-start;
  width: 600px;
}

.imgInterieur img{
  position : absolute;
  width : 430px;
  height: 600px;
}

.carousselText0{
  z-index : 4;
  position: absolute;
  left : 800px;
  width : 400px;
  height: 400px;
  background-color: #313131;
  padding : 20px 20px;
}

.carousselText0 h2, .carousselText0 p{
  color : white;
}

.carousselText1{
  z-index: 1;
  position: absolute;
  left : 800px;
  width : 400px;
  height: 400px;
  background-color: #313131;
  padding : 20px 20px;
}

.carousselText1 h2, .carousselText1 p{
  color : white;
}

.carousselText2{
  z-index : 2;
  position: absolute;
  left : 800px;
  width : 400px;
  height: 400px;
  background-color: #313131;
  padding : 20px 20px;
}

.carousselText2 h2, .carousselText2 p{
  color : white;
}

.carousselText3{
  z-index : 3;
  position: absolute;
  left : 800px;
  width : 400px;
  height: 400px;
  background-color: #313131;
  padding : 20px 20px;
}

.carousselText3 h2, .carousselText3 p{
  color : white;
}
